<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
</head>
<body>
	<th:block th:fragment="modals">
		<div th:if="${supportImageExtensions != null && supportImageExtensions != ''}" 
			class="modal fade" id="image-file-type-modal" tabindex="-1" role="dialog" 
			aria-labelledby="imageFileTypeModal" aria-hidden="true" data-backdrop="false">
			<div class="modal-dialog modal-danger modal-dialog-centered modal-10" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title" id="image-file-type-modal-title" th:text="#{error.media.modal.title}"></h3>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<p th:text="#{error.media.image.support.type(${supportImageExtensions.replace(',', ', ')})}"></p>
					</div>
					<div class="modal-footer">
                		<button type="button" class="btn btn-link text-white ml-auto" 
                			data-dismiss="modal" th:text="#{modal.button.ok}">Ok</button> 
					</div>
				</div>
			</div>
		</div>
		
		<div th:if="${supportImageSizeLabel != null && supportImageSizeLabel != ''}" 
			class="modal fade" id="image-file-size-modal" tabindex="-1" role="dialog" 
			aria-labelledby="imageFileSizeModal" aria-hidden="true" data-backdrop="false">
			<div class="modal-dialog modal-warning modal-dialog-centered modal-7" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title" id="image-file-size-modal-title" th:text="#{error.media.modal.title}"></h3>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<p th:text="#{error.media.image.support.max.size(${supportImageSizeLabel})}"></p>
					</div>
					<div class="modal-footer">
                		<button type="button" class="btn btn-link text-white ml-auto" 
                			data-dismiss="modal" th:text="#{modal.button.ok}">Ok</button>
					</div>
				</div>
			</div>
		</div>
		
		<div th:if="${supportMediaExtensions != null && supportMediaExtensions != ''}" 
			class="modal fade" id="media-file-type-modal" tabindex="-1" role="dialog" 
			aria-labelledby="mediaFileTypeModal" aria-hidden="true" data-backdrop="false">
			<div class="modal-dialog modal-danger modal-dialog-centered modal-10" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title" id="media-file-type-modal-title" th:text="#{error.media.modal.title}"></h3>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<p th:text="#{error.media.support.type(${supportMediaExtensions.replace(',', ', ')})}"></p>
					</div>
					<div class="modal-footer">
                		<button type="button" class="btn btn-link text-white ml-auto" 
                			data-dismiss="modal" th:text="#{modal.button.ok}">Ok</button> 
					</div>
				</div>
			</div>
		</div>
		
		<div th:if="${supportMediaSizeLabel != null && supportMediaSizeLabel != ''}"
			class="modal fade" id="media-file-size-modal" tabindex="-1" role="dialog" 
			aria-labelledby="mediaFileSizeModal" aria-hidden="true" data-backdrop="false">
			<div class="modal-dialog modal-warning modal-dialog-centered modal-7" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title" id="media-file-size-modal-title" th:text="#{error.media.modal.title}"></h3>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<p th:text="#{error.media.support.max.size(${supportMediaSizeLabel})}"></p>
					</div>
					<div class="modal-footer">
                		<button type="button" class="btn btn-link text-white ml-auto" 
                			data-dismiss="modal" th:text="#{modal.button.ok}">Ok</button>
					</div>
				</div>
			</div>
		</div>
		
		<div th:if="${toastStatus != null && toastStatus != ''}" 
			class="modal fade" id="on-load-modal" tabindex="-1" role="dialog" 
			aria-labelledby="onLoadModal" aria-hidden="true" data-backdrop="true">
			<div th:class="${'modal-dialog modal-dialog-centered modal-7 modal-' + toastStatus}" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title" id="on-load-modal-title">
							<!-- 
							<svg class="bd-placeholder-img rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
								<rect fill="#007aff" width="100%" height="100%"></rect>
							</svg>
							-->
							<span th:if="${toastTitle == null || toastTitle == ''}" class="mr-auto" th:utext="#{|${baseMessageKey}.toast.${toastAction}.${toastStatus}.title|}">Title</span>
							<span th:if="${toastTitle != null && toastTitle != ''}" class="mr-auto" th:utext="${toastTitle}">Title</span>
						</h3>
						
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<div th:if="${toastMessage == null || toastMessage == ''}" class="toast-body" th:utext="#{|${baseMessageKey}.toast.${toastAction}.${toastStatus}.message|}">message</div>
						<div th:if="${toastMessage != null && toastMessage != ''}" class="toast-body" th:utext="${toastMessage}">message</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-link text-white ml-auto" 
							data-dismiss="modal" th:text="#{modal.button.close}">Close</button>
					</div>
				</div>
			</div>
		</div>
		
		<!-- WARNING MODAL-->
		<div class="modal fade" id="general-warning-modal" tabindex="-1" role="dialog" 
			aria-labelledby="onLoadModal" aria-hidden="true" data-backdrop="true">
			<div class="modal-dialog modal-dialog-centered modal-7 modal-warning" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title" id="on-load-modal-title">
							<!-- <svg class="bd-placeholder-img rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
								<rect fill="#007aff" width="100%" height="100%"></rect>
							</svg> -->
							<span  class="mr-auto" id="general-warning-modal-title" th:utext="#{|modal.warning.title|}">Warning Title</span>
						</h3>
						
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<div  class="toast-body" id="general-warning-modal-message">message</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-link text-white ml-auto" 
							data-dismiss="modal" th:text="#{modal.button.close}">Close</button>
					</div>
				</div>
			</div>
		</div>
		
	</th:block>
</body>
</html>