<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
</head>

<body>
	<div th:fragment="footer">
		<div class="container">
			<footer>
				&copy; Be Your Self
				<span sec:authorize="isAuthenticated()">
					| Logged user: <span sec:authentication="name"></span>
					| Roles: <span sec:authentication="principal.authorities"></span>
					| <a th:href="@{/logout}">Sign Out</a>
				</span>
			</footer>
		</div>
	</div>
	
	<div th:fragment="footer-setting">
		<!--  JS -->
		<script th:src="@{/js/argon.min.js}"></script>
	</div>
</body>
</html>