<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/main-layout.html}">
<head>
<title th:text="#{|${baseMessageKey}.page.title|}"></title>
</head>
<body>
	<th:block layout:fragment="content">
		<!-- Table -->
		<div class="row">
			<div class="col">
				<div class="card shadow">
					<div class="card-header border-0">
						<th:block th:replace="fragments/data-page-options :: list-header"></th:block>
					
						
						<div class="row form-search-container">
							<div class="col text-right">
								<select id="display-page-option" class="selectpicker show-tick w-auto"
									th:data-none-selected-text="#{data.display.page.option.title}">
									<option th:each="pageSize: ${supportPageSizes}"
										th:value="${pageSize}"
										th:text="#{data.display.page.option.item(${pageSize}, ${pageSizeName})}"
										th:selected="${size != null && size == pageSize}"></option>
									<option value="-1"
										th:text="#{data.display.page.option.all(${pageSizeName})}"
										th:selected="${size == null || size <= 0}"></option>
								</select>
							</div>
						</div>
						
						<div class="row form-search-container">
							<div class="col ">
								<a href="#select_subscriptions" class="btn btn-sm btn-primary mt-2" ><span
								th:text="#{data.display.button.select.deselect.all}"></span></a> 
								<a href="#" class="btn btn-sm btn-primary mt-2" onclick="submitSubscriptionForm();"><span
								th:text="#{csv.action.export}"></span></a> 
								<a th:href="${writePermission ? baseURL + '/upload_csv_form' : 'javascript:;'}" 
									class="btn btn-sm btn-primary mt-2" th:if="${writePermission}" th:text="#{csv.action.import}">Import CSV</a>
							</div> 
						</div>
						<script th:inline="javascript">
							function submitSubscriptionForm(){
								var nb_selected_id = $("#select_subscription_form").find('input[name="selected_id"]:checked').length;
								if (nb_selected_id == 0) {
									alert([[#{csv.info.exp.select.element}]]);
									return false;
								} else {
									document.getElementById('select_subscription_form').submit();
								}
							}
						</script>
									
					</div>
					<!-- End card header -->
					<div class="table-responsive" >
						<form id="select_subscription_form" 
							th:action="${readPermission ? baseURL + '/exportcsv' : 'javascript:;'}"
							 method="post">
						<table class="table align-items-center table-flush" th:id="${pageName + '-data-table'}">
							<thead class="thead-light">
								<tr>
									<th scope="col"></th>
									<th scope="col"
										th:text="#{|${baseMessageKey}.detail.user|}"></th>
									<th scope="col" width="15%"
										th:text="#{|${baseMessageKey}.detail.subtype|}"></th>
									<th scope="col" width="35%"
										th:text="#{|${baseMessageKey}.detail.subscriptionstartdate|}"></th>
										<th scope="col" width="35%"
										th:text="#{|${baseMessageKey}.detail.subscriptionenddate|}"></th>
									<th scope="col" width="35%"
										th:text="#{|${baseMessageKey}.detail.paymentstatus|}"></th>
									<th scope="col" width="35%"
										th:text="#{|${baseMessageKey}.detail.status|}"></th>
									<th scope="col" th:if="${readPermission}"></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item : ${result.items}">
									<td>
										<input type="checkbox"  name="selected_id"  
										id="selected_id" th:value="${item.id}"></input>
									</td>
									<td nowrap><span th:if="${item.user != null}" th:utext="${item.user.email}"></span></td>
									<td nowrap><span th:if="${item.subtype != null}" th:utext="${item.subtype.name}"></span></td>
									<td nowrap><span th:if="${item != null}" th:utext="${#dates.format(item.subscriptionStartDate, dateFormat)}" ></span></td>
									<td nowrap><span th:if="${item != null}" th:utext="${#dates.format(item.subscriptionEndDate, dateFormat)}"></span></td>
									<td nowrap><span th:if="${item != null}" th:utext="#{'payment.status.' + ${item.paymentStatus}}"></span></td>
									<td nowrap><span th:if="${item.status}"><i
											class="fas fa-check"></i></span> <span th:unless="${item.status}"><i
											class="fas fa-times"></i></span></td>
											
									<td class="text-right" th:if="${writePermission}">
										<a
											class="btn btn-icon btn-2 btn-primary"
											th:href="${baseURL + '/edit/' + item.id}"
											th:title="#{action.edit.title}"> <span
												class="btn-inner--icon"> <i class="fas fa-edit"></i>
											</span>
										</a>

										<button class="btn btn-icon btn-2 btn-danger" type="button"
											th:title="#{action.delete.title}"
											th:onclick="confirmDelete([[${item.id}]])">
											<span class="btn-inner--icon"> <i class="fas fa-times"></i>
											</span>
										</button>
									</td>
									<td class="text-right" th:if="${!writePermission && readPermission}">
										<a class="btn btn-icon btn-2 btn-info" th:href="${baseURL + '/view/' + item.id}" th:title="#{action.view.title}">
											<span class="btn-inner--icon">
												<i class="fas fa-eye"></i>
											</span>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
						</form>
					</div>

					<div class="card-footer py-4"
						th:insert="fragments/data-list-pagination :: pagination"></div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="confirm-delete-modal" tabindex="-1"
			role="dialog" aria-labelledby="deleteConfirmModal" aria-hidden="true"
			data-backdrop="false">
			<div class="modal-dialog modal-dialog-centered modal-7"
				role="document">
				<div class="modal-content">
					<form id="confirm-delete-form" action="javascript:;" method="POST">
						<div class="modal-header modal-header-danger">
							<h3 class="modal-title" id="confirm-delete-modal-title"
								th:utext="#{modal.confirm.delete.title}"></h3>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<p
								th:utext="#{modal.confirm.delete.message(#{${baseMessageKey} + '.name'})}"></p>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-danger"
								th:utext="#{modal.button.yes}">Yes</button>
							<button type="button" class="btn btn-secondary ml-auto"
								data-dismiss="modal" th:utext="#{modal.button.no}">No</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		
		<th:block th:replace="fragments/data-list-modals :: modals"></th:block>
	</th:block>

	<th:block layout:fragment="scripts">
		<script type="text/javascript">
			
			var select_all = false;
			
			$('a[href="#select_subscriptions"]').click(function(){
				if (select_all == false) {
					$("[name='selected_id']").prop('checked', true);    
					select_all = true;
				} else {
					$("[name='selected_id']").prop('checked', false);    
					select_all = false;
				}
			});
			
			
			function confirmDelete(id) {
				var url = '[[${baseURL}]]/delete/' + id;

				$('#confirm-delete-form').attr('action', url);
				showModal('confirm-delete-modal');
			}

			$(function() {
				$('#on-load-toast').toast('show');
			});
			
			const sortableColumnMaps = { 'name': 0, 'duration': 1, 'price':2, 'canal':3, 'autoRenew': 4, 'status': 5 };
			
			$(function() {
				const dataTableId = '[[${pageName}]]-data-table'; 
				const defaultSort = '[[${sort}]]';
				const sortUrl = '[[${baseURL}]]/current-page?sort=';
				
				//buildDataTable(dataTableId, sortableColumnMaps, defaultSort, sortUrl);
				if ([[${writePermission}]]) {
							 	$('#subscription-data-table').dataTable({
									"sDom" : 't',
									"order": [],
									 "aoColumns": [
											{  "orderable": false },
										 	null,
										    null,
										    null,
										    null,
										    null,
										    {  "sType": "string" },
										    {  "orderable": false }
									  ]
								}); 
							} else {
								$('#subscription-data-table').dataTable({
									"sDom" : 't',
									"order": [],
									"aoColumns": [
											{  "orderable": false },
										    null,
										    null,
										    null,
										    null,
										    null,
										    {  "sType": "string" }
									  ]
								}); 
							}
				
				$('select').selectpicker();
				
				$('#display-page-option').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
					const selectedPageSize = $('#display-page-option').val();
					window.location = '[[${baseURL}]]/search?action=update-filter&page=1&size=' + selectedPageSize;
				});
				
				showOnLoadedModal();
			});
		</script>
	</th:block>
</body>
</html>