<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/main-layout.html}">
<head>
<title th:text="#{action.upload.file}">Upload file</title>
</head>
<body>
	<th:block layout:fragment="content">

		<form id="resetpwd_form" th:action="${baseURL + '/password/resetbyemail'}"
			method="post">
			<div class="row">
				<div class="col-md-3">
					<div class="form-group">
						<div class="input-group mb-4">
							<div class="input-group-prepend">
								<span class="input-group-text"><i
									class="ni ni-zoom-split-in"></i></span>
							</div>
							<input class="form-control" placeholder="Email" id="user_email"
								name="user_email" type="email">
						</div>
					</div>
					<div class="text-center">
						<button type="submit" class="btn btn-primary mt-4"><span
								th:text="#{users.action.reset.password}">Reset password</span></button>
					</div>
				</div>
			</div>

		</form>

		<th:block th:replace="fragments/data-list-modals :: modals"></th:block>

	</th:block>
	<th:block layout:fragment="scripts">
		<script>
			$(function() {		
				showOnLoadedModal();
			});
		</script>
	</th:block>
	
</body>
</html>